<div class="col d-flex justify-content-center">
    <div class="card" style="min-width: 50%; max-width: 85%; margin-top: 25px;">
        <div class="card-header bg-info">Solicitud de anticipo</div>
        <div class="card-body">
            <div class="card-body">
                <form #sAnticipoForm="ngForm" autocomplete="off" novalidate (ngSubmit)="onSubmit(sAnticipoForm)">
                    <div class="input-group mb-2">
                        <span class="input-group-text" style="min-width:165px;">Empresa</span>
                        <select name="companyID" id="companyID" class="form-select" [(ngModel)]="solicitud.companyID" autofocus
                        #companyID="ngModel" [ngClass]="{ 'is-invalid': companyID.invalid && companyID.touched , 'is-valid': companyID.valid }"
                        >
                        <option *ngFor="let companie of companies" [value]="companie.companyID">{{ companie.companyName }}</option>                        </select>
                        <span class="invalid-feedback">Dato requerido</span>
                    </div>
                    <div class="input-group mb-2">
                        <span class="input-group-text" style="min-width:165px;">Código</span>
                        <input type="text" id="employeeCode" name="employeeCode" [(ngModel)]="solicitud.employeeCode" 
                        #employeeCode="ngModel" [ngClass]="{ 'is-invalid': employeeCode.invalid && employeeCode.touched , 'is-valid': employeeCode.valid }"
                        class="form-control" placeholder="Código de empleado" required (blur)="onDataChange()"> 
                        <span class="invalid-feedback" *ngIf="employeeCode?.invalid && (employeeCode?.dirty || employeeCode?.touched)">Dato requerido</span>
                    </div>
                    <h6>{{nombreEmpleado}}</h6>
                    <div class="input-group mb-2">
                        <span class="input-group-text" style="min-width:165px;">Tipo </span>
                        <select name="typeRequest" id="typeRequest" class="form-select" [(ngModel)]="solicitud.typeRequest"
                        #typeRequest="ngModel" [ngClass]="{ 'is-invalid': typeRequest.invalid && typeRequest.touched , 'is-valid': typeRequest.valid }"
                        >
                            <option value="1">Bono 14</option>
                            <option value="2">Aguinaldo</option>
                            <option value="3">Salario</option>
                        </select>
                        <span class="invalid-feedback">Dato requerido</span>
                    </div> 
                    <div class="input-group mb-2">
                        <span class="input-group-text" style="min-width:165px">Monto</span>
                        <input type="number" class="form-control" name="ammount" id="ammount"
                        min="500" max="25000" value="1"
                        #ammount="ngModel" [ngClass]="{ 'is-invalid': ammount.invalid && ammount.touched , 'is-valid': ammount.valid }"
                        [(ngModel)]="solicitud.ammount" required
                        step="100.00"
                        >
                        <span class="invalid-feedback">Dato requerido</span>
                    </div>  
                    <div class="input-group mb-2">
                        <span class="input-group-text"style="min-width:165px;">Fecha desembolso</span>
                        <input type="date" id="dateTBD" name="dateTBD" class="form-control" 
                            min="{{ this.addDays(1) }}" max="{{ this.addDays(90) }}" value="{{this.addDays(1)}}"                            
                            #dateTBD="ngModel" [ngClass]="{ 'is-invalid': dateTBD.invalid && dateTBD.touched , 'is-valid': dateTBD.valid }"
                            [(ngModel)]="solicitud.dateTBD" required>
                        <span class="invalid-feedback">Dato requerido</span>
                    </div>    
                    <div class="input-group mb-2" [hidden]="typeRequest.value != '3'">
                        <span class="input-group-text"style="min-width:165px;">Fecha inicio cobro</span>
                        <input type="date" id="dateTSP" name="dateTSP" class="form-control" 
                            min="{{ this.addDays(1) }}" max="{{ this.addDays(90) }}"                           
                            #dateTSP="ngModel" [ngClass]="{ 'is-invalid': dateTSP.invalid && dateTSP.touched , 'is-valid': dateTSP.valid }"
                            [(ngModel)]="solicitud.dateTSP" [required]="typeRequest.value == '3'">
                        <span class="invalid-feedback">Dato requerido</span>
                    </div> 
                    <div class="input-group mb-2" [hidden]="typeRequest.value != '3'">
                        <span class="input-group-text" style="min-width:165px">Cantidad de cuotas</span>
                        <input type="number" class="form-control" name="numberOP" id="numberOP"
                        min="1" max="24" value="1"
                        #numberOP="ngModel" [ngClass]="{ 'is-invalid': numberOP.invalid && numberOP.touched , 'is-valid': numberOP.valid }"
                        [(ngModel)]="solicitud.numberOP" [required]="typeRequest.value == '3'"
                        >
                        <span class="invalid-feedback">Dato requerido</span>
                    </div>  
                    <button type="submit" class="btn btn-lg btn-primary" [disabled]="!sAnticipoForm.form.valid || !empleadoOK">Solicitar anticipo</button>
                </form>    
        </div>
    </div>
</div>